.panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 1px solid #ddd;
}

.panel-group,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-heading a,
.panel-group .panel-title,
.panel-group .panel-title a,
.panel-group .panel-body,
.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 0;
}

.panel-group .panel-heading {
    padding: 0;
    margin-bottom: 0px;
}

.panel-group .panel-heading a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
    font-size: 12px;
    font-family: inherit;
}

.panel-group .panel-heading a.collapsed {
    background: #eeeeee;
    color: inherit;
}

.panel-group .panel-heading a[aria-expanded="true"] {
    background: #668bb1;
    color: #ffffff;
}

.panel-group .panel-heading a:after {
    content: '-';
    position: absolute;
    right: 12px;
    top: 0;
    font-size: 18px;
}

.panel-group .panel-heading a.collapsed:after {
    content: '+';
}

.panel-group .panel-heading a[aria-expanded="true"]:after {
    content: '-';
}

.match {
    color: #4d5388;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

.panel-group .panel-collapse {
    margin-top: 0 !important;
}

.panel-group .panel-body {
    background: #ffffff;
    padding: 15px;
    font-size: 11px;
    font-family: inherit;
    font-weight: bold;
}

.panel-group .panel {
    background: #eeeeee;
}

.panel-group .panel-body p:last-child,
.panel-group .panel-body ul:last-child,
.panel-group .panel-body ol:last-child {
    margin-bottom: 0;
}

.panel-title {
    margin: 0;
}

.panel-body a:hover {
    text-decoration: none;
}

/*odds_table*/
.page_title_game {
    border-bottom: 1px solid;
    padding-bottom: 2px;
    background-image: linear-gradient(135deg, #667eea 0, #764ba2 100%) !important;
    color: white !important;
    margin-top: 3px;
}

.page_head {
    width: fit-content;
    padding: 4px;
}

.header_info {
    color: #4d5388;
    font-family: monospace;
    font-weight: normal;
    font-size: 13px !important;

}

.match.active,
.match:hover {
    color: black;
    border-bottom-color: black;
}
.odds_table tr td:first-child,
.odds_table tr:first-child td {
font-weight: bold;
}
.odds_table {
    width: fit-content;
    margin: 0 auto;
}

.table td, .table th {
    padding: 0 30px;
    text-align: center;
    font-size: 12px;
    font-family: monospace;
    border-top: 0;
    border-bottom: 1px solid #dee2e6;;
}
.odds_table tr:last-child td{
    border-bottom: 0 !important;
}
.odds_table tr:nth-last-child(2) td{
    border-bottom: 2px solid !important;
}

.odds_table tr td:first-child {
    text-align: left !important;
    padding-left: 6px !important;
}

.odds_table tr td {
    text-align: right !important;
    padding-right: 6px !important;
}

.sports_btn {
    border: 1px solid black;
    color: white;
     background-image: linear-gradient(135deg, #667eea 0, #764ba2 100%) !important;
    font-weight: normal;
    font-size:13px;
}
.marker{
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    color: white;
    background-color: #59a69e;
}
.market_title strong{
    display: none;
}